@media(min-width:1025px) {
    :root {
        --ContainWidth: 1000px;
    }
}

@media(max-width:1025px) and (min-width:825px) {
    :root {
        --ContainWidth: 800px;
    }
}

@media(min-width:825px) {
    .header section[sub]::after {
        content: attr(sub);
    }

    .create.date::before {
        content: "创建于";
    }

    .modified.date::before {
        content: "最后修改于";
    }
}

@media(max-width:825px) {
    .modified.date {
        display: none !important;
    }

    .header>.navbar-left {
        padding-left: 1% !important;
    }

    .header>.navbar-right {
        padding-right: 1% !important;
    }

    .container {
        width: 98% !important;
    }
}

:root {
    --navbarBgColor: #fafafa;
    --bgColor: #ffffff;
    --tagBgColor: #f0f0f0;
    --fontColor: #1f1f1f;
    --selectedFontColor: #fff;
    --selectedBgColor: #1f1f1f;
    --postTitleColor: #141414;
    --linkerColor: #1919D0;
    --highlightColor: #1919D0;
    --codeEvenBgColor: #fafafa;
    --codeBgColor: #f0f0f0;
    --codeLineNumBgColor: #595959;
    --codeLineNumColor: #ffffff;
    --codeHoverBgColor: #fff1f0;
    --splitLineHoverColor: #caa;
    --splitLineColor: #eee;
    --lettleList: "小列表";
    --bigList: "大列表";
    --codeFont: 'Fira Code', "Noto Sans CJK SC", monospace;
    --font: "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", "Source Han Serif TC", "Source Han Serif TW", "Source Han Serif", "Songti SC", sans-serif, "Microsoft YaHei";
}

@media(prefers-color-scheme: dark) {
    :root {
        --navbarBgColor: #111;
        --bgColor: #222;
        --tagBgColor: #444;
        --fontColor: #fafafa;
        --selectedFontColor: #000;
        --selectedBgColor: #f1f1f1;
        --postTitleColor: #eee;
        --linkerColor: #cdf;
        --highlightColor: #cdf;
        --codeEvenBgColor: #333;
        --codeBgColor: #444;
        --codeLineNumBgColor: #555;
        --codeLineNumColor: #ffffff;
        --codeHoverBgColor: #fff1f0;
        --splitLineHoverColor: #caa;
        --splitLineColor: #888;
    }
}

[for="tag-cpp"]::before {
    content: "C++";
}

[for="tag-multithread"]::before {
    content: "多线程";
}

[for="tag-crud"]::before {
    content: "CRUD";
}

[for="tag-htmlcss"]::before {
    content: "HTML/CSS";
}

#filter-on:checked~input~* .post {
    display: none;
}

#filter-on:checked~* label[for^="filter"]::before,
#filter-on:checked~#tag-cpp:checked~* [for="tag-cpp"]::before,
#filter-on:checked~#tag-multithread:checked~* [for="tag-multithread"]::before,
#filter-on:checked~#tag-crud:checked~* [for="tag-crud"]::before,
#filter-on:checked~#tag-htmlcss:checked~* [for="tag-htmlcss"]::before {
    color: var(--highlightColor);
}

#filter-on:checked~#tag-cpp:checked~* [tag~="cpp"],
#filter-on:checked~#tag-multithread:checked~* [tag~="multithread"],
#filter-on:checked~#tag-crud:checked~* [tag~="crud"],
#filter-on:checked~#tag-htmlcss:checked~* [tag~="htmlcss"] {
    display: unset;
}

html {
    font-size: 20px;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

::selection {
    color: var(--selectedFontColor);
    background: var(--selectedBgColor);
}

a {
    text-decoration: none;
    color: var(--linkerColor);
    cursor: pointer;
}

.post a {
    color: var(--postTitleColor);
}

.header a {
    color: inherit;
}

.header a:hover {
    color: var(--highlightColor);
}

body {
    text-align: center;
    font-family: var(--font);
    line-height: 1.6;
    color: var(--fontColor);
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
}

.header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px var(--splitLineColor) solid;
    position: sticky;
    top: 0px;
    background-color: var(--navbarBgColor);
    z-index: 99999;
    opacity: 0.75;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
}

.header:hover {
    border-bottom: 1px var(--splitLineHoverColor) solid;
}

.header>.navbar-left {
    display: inline-block;
    padding-left: calc((100% - var(--ContainWidth))/2);
    justify-self: left;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.header>.navbar-right {
    display: inline-block;
    padding-right: calc((100% - var(--ContainWidth))/2);
    justify-self: right;
}

label[for="timeLine"] {
    cursor: pointer;
    outline: none;
}

label[for="timeLine"]:hover {
    color: var(--highlightColor);
}

label[for="timeLine"]::before {
    content: var(--lettleList);
}

#timeLine:checked~* label[for="timeLine"]::before {
    content: var(--bigList);
}

#filter-off:checked~* label[for="filter-on"],
#filter-on:checked~* label[for="filter-off"] {
    display: unset;
}

#filter-off:checked~* label[for="filter-off"],
#filter-on:checked~* label[for="filter-on"] {
    display: none;
}

label[for^="filter"]::before {
    content: "筛选";
}

.footer {
    border-top: 1px var(--splitLineColor) solid;
    background-color: var(--tagBgColor);
    width: 100vw;
}

.footer p {
    font-size: 0.8rem;
    margin-block: 0.4em;
}

.footer p:last-child {
    padding-bottom: 8px;
    margin-block-end: 0px;
}

.container {
    width: 100%;
    max-width: var(--ContainWidth);
    flex: 1;
}

.posts,
.archive {
    vertical-align: baseline;
    width: 100%;
    max-width: var(--ContainWidth);
}

.posts {
    display: flex;
    flex-direction: column-reverse;
}

.posts .post {
    text-align: left;
    padding-bottom: 0.5em;
    border-bottom: 1px var(--splitLineColor) solid;
    position: relative;
}

#timeLine:checked~#filter-on:checked~#tag-cpp:checked~* .posts .post[tag~="cpp"],
#timeLine:checked~#filter-on:checked~#tag-multithread:checked~* .posts .post[tag~="multithread"],
#timeLine:checked~#filter-on:checked~#tag-crud:checked~* .posts .post[tag~="crud"],
#timeLine:checked~#filter-on:checked~#tag-htmlcss:checked~* .posts .post[tag~="htmlcss"],
#timeLine:checked~* .posts .post {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
    border: none;
}

#timeLine:checked~#filter-on:checked~* .posts .post,
#timeLine:checked~* .posts .post .meta {
    display: none;
}

#timeLine:checked~* .posts .post .date {
    font-size: 1em;
    padding: 0px 1em 1px 0px;
    order: -1;
}

#timeLine:checked~* .posts .post .date:before {
    content: "\2022";
    padding-right: 0.2em;
}

#timeLine:checked~* .posts .post a {
    font-size: 1em;
    font-weight: normal;
    color: var(--fontColor);
}

#timeLine:checked~* .posts .post:hover {
    padding-bottom: 0px;
    box-shadow: none;
}

#filter-on:checked~* div.filterTag {
    display: inline-block;
}

#filter-off:checked~* div.filterTag {
    display: none;
}

.posts .post+.post {
    padding-top: 0.25em;
}

.posts .post:last-child {
    padding-bottom: 0.75em;
}

.posts .post:hover {
    padding-bottom: calc(0.5em+1px);
    box-shadow: 1px 1px 1px var(--splitLineHoverColor);
}

.archive {
    text-align: left;
    padding-bottom: 1em;
}

.posts .post:last-child {
    border-bottom: none;
}

.post a {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
}

.post .date,
.archive .date {
    display: inline-block;
    vertical-align: baseline;
    font-size: 0.75rem;
}

.post .meta,
.archive .meta {
    display: inline-block;
    font-size: 0.75rem;
    background-color: var(--tagBgColor);
    border-radius: 2px;
    padding: 0px 1px;
}

.archive h1 {
    font-size: 2em;
    line-height: 2em;
    margin: 0;
    letter-spacing: 0.1em;
}

.archive h2 {
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0;
}

.archive p,
.archive details {
    margin-block-end: 0.9em;
    margin-block-start: 0.9em;
    counter-reset: codeline;
}

.archive code,
.archive pre {
    font-family: var(--codeFont);
    background-color: var(--codeBgColor);
    padding: 0px 4px;
    border-radius: 0px 4px 4px 0px;
    border-left: thick solid var(--codeLineNumBgColor);
    margin-bottom: 0px;
}

.archive .entry>pre {
    padding: 0px;
}

.archive .entry>pre:nth-of-type(even) {
    background-color: var(--codeEvenBgColor);
}

.archive .entry>pre:hover {
    background-color: var(--codeHoverBgColor);
}

.archive .entry>pre:hover::before {
    color: var(--codeHoverBgColor);
}

.archive .entry>pre::before {
    counter-increment: codeline;
    content: counter(codeline, decimal-leading-zero);
    background-color: var(--codeLineNumBgColor);
    margin-right: 4px;
    padding-left: 8px;
    color: var(--codeLineNumColor);
    padding: 4px 4px;
}

.archive pre~pre {
    margin-top: 0px;
}

.archive textarea {
    width: 98%;
    height: 800px;
    font-family: var(--codeFont);
    resize: vertical;
    overflow-x: scroll;
}

.archive p>code {
    border-radius: 4px;
    border: none;
}

.archive q {
    font-style: italic;
}

.entry a {
    text-decoration: underline;
}

a[rel="license"] {
    font-size: 1em;
    display: initial;
    cursor: pointer;
}

.footer>p[rel="using"] {
    display: inline;
}

.footer>p[rel="using"]::before {
    content: "Using: ";
}

.footer>p[rel="using"]+p[rel="license"] {
    margin-left: 10px;
    display: inline;
}

.footer>p[rel="license"] {
    display: inline;
}

.footer>p[rel="license"]::before {
    content: "License: ";
}

.footer>p[rel="contact"]::before {
    content: "Contact Me: ";
}

.footer>p[rel="contact"] {
    margin-top: 8px;
}

.footer a {
    margin-left: 0.6em;
}

.footer a:first-child {
    margin-left: 0px;
}

.archive summary {
    outline: none;
}