:root {
    --navbarBgColor: #a0fff9cc;
    --bgColor: #fdfdfd;
    --tagBgColor: #f0f0f0;
    --fontColor: #1f1f1f;
    --selectedFontColor: #fff;
    --selectedBgColor: #1f1f1f;
    --postTitleColor: #141414;
    --linkerColor: #0000a0;
    --highlightColor: #ff7f27;
    --evenTableBackgroungColor: #ffeadc;
    --tableHeaderBackgroungColor: #fbbe95;
    --pay: #74f466;
    --quoteHintColor: #ff6e90;
    --lettleList: "小列表";
    --bigList: "大列表";
    --codeFont: 'Fira Code', "Cascadia Code", "Source Han Sans VF", "Source Han Sans", monospace;
    --font: "Georgia Pro", "Source Han Serif VF", "Source Han Serif", serif;
}

@media(min-width: 1220px) {
    :root {
        --ContainWidth: 1200px;
        font-size: 24px;
        font-weight: 450;
    }
}

@media(min-width: 832px) and (max-width: 1220px) {
    :root {
        --ContainWidth: 800px;
        font-size: 20px;
        font-weight: 450;
    }
}

@media(max-width: 832px) {
    :root {
        --ContainWidth: 94%;
        --font: "Verdana Pro", "Source Han Sans VF", "Source Han Sans", sans-serif;
    }
}

@media(min-width: 1300px) or ((max-width: 1220px) and (min-width: 910px)) {
    h2::before {
        visibility: hidden;
        content: counter(h2-id) ".";
        position: absolute;
        right: calc((100% + var(--ContainWidth))/2 + 0.1rem);
    }

    h2:hover::before {
        visibility: visible;
    }

    h3::before {
        visibility: hidden;
        content: counter(h2-id) "." counter(h3-id) ".";
        position: absolute;
        right: calc((100% + var(--ContainWidth))/2 + 0.1rem);
    }

    h3:hover::before {
        visibility: visible;
    }

    h4::before {
        visibility: hidden;
        content: counter(h2-id) "." counter(h3-id) "." counter(h4-id) ".";
        position: absolute;
        right: calc((100% + var(--ContainWidth))/2 + 0.1rem);
    }

    h4:hover::before {
        visibility: visible;
    }
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

h2 {
    scroll-margin-top: 2.5em;
    counter-reset: h3-id;
    counter-increment: h2-id;
}

h3 {
    counter-reset: h4-id;
    counter-increment: h3-id;
}

h4 {
    counter-increment: h4-id;
}

::selection {
    fill: var(--selectedFontColor);
    color: var(--selectedFontColor);
    background: var(--selectedBgColor);
}

a {
    text-decoration: none;
    color: var(--linkerColor);
    cursor: pointer;
    transition-duration: 0.25s;
    transition-property: color;
}

.post a {
    color: var(--postTitleColor);
}

.header a {
    color: inherit;
}

.header section.title {
    display: inline-flex;
}

.header section[sub].title::before {
    content: 'P\'';
}

.header section[sub=""].title::before {
    content: 'Puelloc';
}

.header section::after {
    content: attr(sub);
}

a:hover {
    color: var(--highlightColor);
    transition: cubic-bezier(0, 1, 0, 1);
}

.entry a {
    text-decoration: underline;
}

a[rel="license"] {
    font-size: 1em;
    display: initial;
    cursor: pointer;
}

body {
    text-align: center;
    font-family: var(--font);
    line-height: 1.666;
    color: var(--fontColor);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
    min-height: 100vh;
}

.header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: var(--navbarBgColor);
    z-index: 99999;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0px 0px 8px 0px var(--navbarBgColor);
}

.header>.navbar-left {
    display: inline-block;
    padding-left: calc((100% - var(--ContainWidth))/2);
    justify-self: left;
}

.header>.navbar-right {
    display: inline-block;
    padding-right: calc((100% - var(--ContainWidth))/2);
    justify-self: right;
}

.header>.navbar-right>* {
    padding-left: 0.25em;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.footer {
    background-color: var(--tagBgColor);
    width: 100vw;
    z-index: 9999;
}

.footer p {
    font-size: 0.8rem;
    margin-block: 0.4em;
}

.footer p:last-child {
    padding-bottom: 8px;
    margin-block-end: 0px;
}

.container {
    width: var(--ContainWidth);
    flex: 1;
}

.posts,
.archive {
    vertical-align: baseline;
    width: 100%;
}

.posts .post {
    text-align: left;
    padding-bottom: 0.5em;
}

.posts .post+.post {
    padding-top: 0.25em;
}

.posts .post:last-child {
    padding-bottom: 0.75em;
}

.posts .post:hover {
    box-shadow: none;
}

.archive {
    text-align: left;
    padding-bottom: 1em;
}

.posts .post:last-child {
    border-bottom: none;
}

.post a {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
}

.post .date,
.archive .date {
    display: inline-block;
    vertical-align: baseline;
    font-size: 0.75rem;
}

.post .meta,
.archive .meta {
    display: inline-block;
    font-size: 0.75rem;
    background-color: var(--tagBgColor);
    border-radius: 8px;
    padding: 0px 3px;
}

.indent p {
    text-indent: 2em;
    margin: 0.75em 0;
}

.archive h1 {
    font-size: 2em;
    line-height: 2em;
    margin: 0;
}

.archive pre {
    padding: 0 0.2em;
    overflow: auto;
    line-height: 1.6;
    font-size: 0.75em;
}

code {
    font-family: var(--codeFont);
}

.archive code.inlinecode {
    font-family: "Iosevka Etoile", var(--codeFont);
    font-size: 0.9em;
    position: relative;
}

.archive q {
    font-style: italic;
}

.archive summary {
    outline: none;
}

.archive blockquote {
    border-left: var(--quoteHintColor) 0.25em solid;
    margin-left: 0;
    padding-left: 1em;
}

label[for="timeLine"] {
    cursor: pointer;
    outline: none;
    transition-duration: 0.25s;
}

label[for="timeLine"]:hover {
    color: var(--highlightColor);
    transition: cubic-bezier(0, 1, 0, 1);
    transition-duration: 0.25s;
}

label[for="timeLine"]::before {
    content: var(--lettleList);
}

#timeLine:checked~* label[for="timeLine"]::before {
    content: var(--bigList);
}

#timeLine:checked~* .posts .post {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
    border: none;
}

#timeLine:checked~* .posts .post .meta {
    display: none;
}

#timeLine:checked~* .posts .post .date {
    font-size: 1em;
    padding: 0px 1em 1px 0px;
    order: -1;
}

#timeLine:checked~* .posts .post a {
    font-size: 1em;
    font-weight: normal;
}

#timeLine:checked~* .posts .post:hover {
    padding-bottom: 0px;
    box-shadow: none;
}

.footer a {
    margin-left: 0.6em;
}

.footer a:first-child {
    margin-left: 0px;
}

.latex-block {
    display: flex;
    justify-content: center;
}

.halt {
    font-feature-settings: "halt";
}

table {
    border-collapse: collapse;
    border: var(--fontColor) 0.1rem solid;
    width: 100%;
}

td,
th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-left: var(--fontColor) 0.1rem solid;
}

td:first-child,
th:first-child {
    border-left: none;
}

tbody tr {
    border-top: var(--fontColor) 0.1rem solid;
}

tbody tr:nth-child(even) {
    background-color: var(--evenTableBackgroungColor);
}

th {
    background-color: var(--tableHeaderBackgroungColor);
}

img {
    max-width: 100%;
}

.indent img {
    position: relative;
    left: -2em;
}

span.img-container {
    display: block;
    text-align: center;
}

span.img-container::after {
    content: attr(title);
    font-size: 0.75em;
    line-height: 0.75em;
    display: block;
    width: 100%;
    text-align: center;
}

.toc-container {
    width: max-content;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.toc:hover {
    left: 0;
}

.toc {
    position: relative;
    top: 2rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    text-align: start;
    left: calc(1em - 100%);
    transition: left 0.5s ease;
    backdrop-filter: blur(4px);
    background-color: #7fc7fc55;
    height: 100vh;
    box-shadow: 0px 0px 4px 0px #7fc7fc55;
}

.toc menu {
    padding: 0 1em;
}

.toc li {
    list-style-type: none;
}
