:root {
    --navbarBgColor: #a0fff9cc;
    --bgColor: #fdfdfd;
    --tagBgColor: #f0f0f0;
    --fontColor: #1f1f1f;
    --selectedFontColor: #fff;
    --selectedBgColor: #1f1f1f;
    --postTitleColor: #141414;
    --linkerColor: #0000a0;
    --highlightColor: #ff7f27;
    --pay: #74f466;
    --nako: #ff6e90;
    --lettleList: "小列表";
    --bigList: "大列表";
    --codeFont: 'Fira Code', "Cascadia Code", "Source Han Sans", "思源黑体", "Noto Sans CJK SC", monospace;
    --font: "Source Han Serif", "思源宋体", "Noto Serif CJK SC",  serif;
}

@media(min-width: 1020px) {
    :root {
        --ContainWidth: 1000px;
        font-size: 20px;
    }

    .header section[sub]::after {
        content: attr(sub);
    }
}

@media(min-width: 832px) and (max-width: 1020px) {
    :root {
        --ContainWidth: 800px;
        --font: "Source Han Sans", "思源黑体", "Noto Sans CJK SC", sans-serif;
        font-size: 16px;
    }

    .header section[sub]::after {
        content: attr(sub);
    }
}

@media(max-width: 832px) {
    :root {
        --ContainWidth: 96%;
        --font: "Source Han Sans", "思源黑体", "Noto Sans CJK SC", sans-serif;
    }
}

/*
@media(prefers-color-scheme: dark) {
    :root {
        --navbarBgColor: #111;
        --bgColor: #222;
        --tagBgColor: #444;
        --fontColor: #fafafa;
        --selectedFontColor: #000;
        --selectedBgColor: #f1f1f1;
        --postTitleColor: #eee;
        --linkerColor: #cdf;
        --highlightColor: #cdf;
        --splitLineHoverColor: #caa;
        --splitLineColor: #888;
    }
}
*/

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

::selection {
    color: var(--selectedFontColor);
    background: var(--selectedBgColor);
}

a {
    text-decoration: none;
    color: var(--linkerColor);
    cursor: pointer;
}

.post a {
    color: var(--postTitleColor);
}

.header a {
    color: inherit;
}

a:hover {
    color: var(--highlightColor);
}

.entry a {
    text-decoration: underline;
}

a[rel="license"] {
    font-size: 1em;
    display: initial;
    cursor: pointer;
}

body {
    text-align: center;
    font-family: var(--font);
    line-height: 1.6;
    color: var(--fontColor);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
}

.header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: var(--navbarBgColor);
    z-index: 99999;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 8px 0px var(--navbarBgColor);
}

.header>.navbar-left {
    display: inline-block;
    padding-left: calc((100% - var(--ContainWidth))/2);
    justify-self: left;
}

.header>.navbar-right {
    display: inline-block;
    padding-right: calc((100% - var(--ContainWidth))/2);
    justify-self: right;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.footer {
    background-color: var(--tagBgColor);
    width: 100vw;
}

.footer p {
    font-size: 0.8rem;
    margin-block: 0.4em;
}

.footer p:last-child {
    padding-bottom: 8px;
    margin-block-end: 0px;
}

.container {
    width: var(--ContainWidth);
    flex: 1;
}

.posts,
.archive {
    vertical-align: baseline;
    width: 100%;
    max-width: var(--ContainWidth);
}

.posts .post {
    text-align: left;
    padding-bottom: 0.5em;
}

.posts .post+.post {
    padding-top: 0.25em;
}

.posts .post:last-child {
    padding-bottom: 0.75em;
}

.posts .post:hover {
    box-shadow: none;
}

.archive {
    text-align: left;
    padding-bottom: 1em;
}

.posts .post:last-child {
    border-bottom: none;
}

.post a {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
}

.post .date,
.archive .date {
    display: inline-block;
    vertical-align: baseline;
    font-size: 0.75rem;
}

.post .meta,
.archive .meta {
    display: inline-block;
    font-size: 0.75rem;
    background-color: var(--tagBgColor);
    border-radius: 8px;
    padding: 0px 3px;
}

.archive h1 {
    font-size: 2em;
    line-height: 2em;
    margin: 0;
}

.archive h2 {
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0;
}

.archive p,
.archive details {
    margin-block-end: 0.9em;
    margin-block-start: 0.9em;
}

.archive pre {
    font-family: var(--codeFont);
    padding: 0px 4px;
    border-radius: 4px;
    overflow: auto;
}

.archive code {
    font-family: var(--codeFont);
}

.archive q {
    font-style: italic;
}

.archive summary {
    outline: none;
}

.create.date::before {
    content: "创建于";
}

.modified.date::before {
    content: "最后修改于";
}

label[for="timeLine"] {
    cursor: pointer;
    outline: none;
}

label[for="timeLine"]:hover {
    color: var(--highlightColor);
}

label[for="timeLine"]::before {
    content: var(--lettleList);
}

#timeLine:checked~* label[for="timeLine"]::before {
    content: var(--bigList);
}

#timeLine:checked~#filter-on:checked~#tag-cpp:checked~* .posts .post[tag~="cpp"],
#timeLine:checked~#filter-on:checked~#tag-multithread:checked~* .posts .post[tag~="multithread"],
#timeLine:checked~#filter-on:checked~#tag-crud:checked~* .posts .post[tag~="crud"],
#timeLine:checked~#filter-on:checked~#tag-htmlcss:checked~* .posts .post[tag~="htmlcss"],
#timeLine:checked~* .posts .post {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
    border: none;
}

#timeLine:checked~#filter-on:checked~* .posts .post,
#timeLine:checked~* .posts .post .meta {
    display: none;
}

#timeLine:checked~* .posts .post .date {
    font-size: 1em;
    padding: 0px 1em 1px 0px;
    order: -1;
}

#timeLine:checked~* .posts .post .date:before {
    content: "\2022";
    padding-right: 0.2em;
}

#timeLine:checked~* .posts .post a {
    font-size: 1em;
    font-weight: normal;
    color: var(--fontColor);
}

#timeLine:checked~* .posts .post:hover {
    padding-bottom: 0px;
    box-shadow: none;
}

.footer>p[rel="using"] {
    display: inline;
}

.footer>p[rel="using"]::before {
    content: "Using: ";
}

.footer>p[rel="using"]+p[rel="license"] {
    margin-left: 10px;
    display: inline;
}

.footer>p[rel="license"] {
    display: inline;
}

.footer>p[rel="license"]::before {
    content: "License: ";
}

.footer>p[rel="contact"]::before {
    content: "Contact Me: ";
}

.footer>p[rel="contact"] {
    margin-top: 8px;
}

.footer a {
    margin-left: 0.6em;
}

.footer a:first-child {
    margin-left: 0px;
}