<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{metadata['title']|e}}">
    <title>{{metadata["title"]|e}}</title>
    <link rel="stylesheet" href="{{metadata['relativeRoot']}}/css/style.css" />
</head>

<body>
    <header class="header">
        <section sub="{{metadata['subtype']}}" class="navbar-left title">
        </section>
        <section class="navbar-right">
            {% for article in articles %}
            {%- if article["specialPosition"].includes("navbar-article") -%}
            <a href="{{metadata['relativeRoot']}}/{{article['outdir']}}/{{article['outfilename']}}">{{article["specialShowName"]|e}}</a>
            {% endif %}
            {%- endfor -%}
        </section>
    </header>
    <div class="container">
        <div class="archive {%- if metadata['useIndent'] %} indent {%- endif %}">
            <h1>{{metadata["titleHtml"]}}</h1>
            <div class="date">
                <span class="modified-date">最后修改于 {{metadata["modifyDate"].toLocaleDateString("zh-CN", {year:"numeric", month:"long", day:"numeric"})}}</span>
                <span class="create-date">创建于 {{metadata["createDate"].toLocaleDateString("zh-CN", {year:"numeric", month:"long", day:"numeric"})}}</span>
            </div>
            {% for tag in metadata["tags"] %}
            <span class="meta">{{tag}}</span>
            {% endfor %}
            <div class="entry">
                {{content}}
            </div>
        </div>
    </div>

    <div class="footer">
        <p rel="license">License: <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a></p>
    </div>
</body>

</html>