<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{metadata["title"]|e}}</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/codecolor.css" />
{%- if metadata["hasTex"] == "true" -%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.19/dist/katex.css" integrity="sha384-WIA8PXZs4di2BJiKfcuR39gE8uoWaMQy4koqQrMh4kxe62f/nlGFxHIVi3TGNuUF" crossorigin="anonymous"/>
{%- endif %}
{%- if metadata["useIndent"] == "true" %}
    <style>
        .archive p {
            text-indent: 2em;
            margin: 0.75em 0;
        }
    </style>
{%- endif %}
</head>

<body>
    <header class="header">
        <section sub="{{metadata['subtype']}}" class="navbar-left title">
            Puelloc
        </section>
        <section class="navbar-right">
            <a href="../index.html">首页</a>
            <a href="about.html">关于</a>
        </section>
    </header>
    <div class="container">
        <div class="archive">
            <h1>{{metadata["title"]}}</h1>
            <div class="modified date">
                {{metadata["mdate"]}}
            </div>
            <div class="create date">
                {{metadata["cdate"]}}
            </div>
            {% for tag in metadata["tags"] %}
            <span class="meta">{{tag}}</span>
            {% endfor %}
            <div class="entry">
                {{content}}
            </div>
        </div>
    </div>

    <div class="footer">
        <p rel="license"><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a></p>
        <p rel="contact">
            <a href="mailto:shentukeqin@hotmail.com">Mail</a>
            <a href="https://github.com/Puellaquae">Github</a>
        </p>
    </div>
</body>

</html>