# Puelloc Blog

[__网页版本__](https://puellaquae.github.io/)

{% for md in articles %}
{%- if md["hideIndex"] != "md" and md["hideIndex"] != "both" -%}
- [{{md["titleMd"]}}]({{md["srcfile"]}}.md)
{% endif -%}
{% endfor %}