<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

<channel>
  <title>Puelloc</title>
  <link>https://puellaquae.github.io</link>
  <description>Puelloc</description>
  {% for article in articles %}
  {%- if article["hideIndex"] != "html" and article["hideIndex"] != "both" -%}
  <item>
    <title>{{article["title"]|e}}</title>
    <link>https://puellaquae.github.io/{{article['outdir']}}/{{article['outfilename']}}</link>
    <description>{{article["descript"]|e}}</description>
    <pubData>{{article["createDate"].toLocaleDateString("zh-CN", {year:"numeric", month:"2-digit", day:"2-digit"})}}</pubData>
    <lastBuildDate>{{article['modifyDate'].toLocaleDateString('zh-CN', {year:'numeric', month:'2-digit', day:'2-digit'})}}</lastBuildDate>
    <category>{{article["subtype"]}}</category>
  </item>
  {% endif %}
  {%- endfor -%}
</channel>

</rss>
